<ul>
    <li><a href="/">Home</a></li>
    <li><a href="./about">About</a></li>
    <li><a href="./contact">Contact</a></li>
    <li><a href="./hourly">Hourly Weather Forecast</a></li>
    <li><a href="./16days">16 Days Weather Forecast</a></li>
    <li><a href="./monthly">30 Days Weather Forecast</a></li>

</ul>