<form action="/" method="POST">
    <label for="location">Location: </label>
    <input type="text" name="location">
    <br>
    <label for="countryCode">Country Code: </label>
    <input type="text" name="countryCode">
    <br>
    <input type="submit" value="send">
</form>