<div id="nav">
<h1>Current weather data</h1>
<p>{{data}}</p> 

<ul id="weather">
    <li><h2>Temperature: {{temp}}</h2></li>
    <li><h2>Humidity: {{humidity}}</h2></li>
    <li><h2>Wind Speed: {{wind}}</h2></li>
</ul>
</div>
{{!-- data that we get from the api will show up here --}}
{{!-- this file basically answers the question: how do you want to display the data --}}