#weather{
    display: flex;
    justify-content: space-evenly;
    
    
}
#weather li{
    list-style-type: none;
    
    margin-left: 15px;
    
 
}
#nav{
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
    justify-content: space-evenly;
    /* background: url('./images/snow.jpg'); */
    width: 100vw;
    height: cover;
    color: black;
}
/* #nav h1{
    
} */